<!DOCTYPE HTML>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
     layout:fragment="content">
    <h1>Ajout de compte pour le client <span th:utext="${numClient}"></span></h1>
    
    <form th:action="@{/site/bank/doAddCompte}" method="POST"
          th:object="${compte}">
	    <label class="simpleAlign">label:</label> 
			<input type="text" name="label" th:field="*{label}" />
			<span th:if="${#fields.hasErrors('label')}" th:errorclass="error" th:errors="*{label}" ></span><br/>
		<label class="simpleAlign">solde:</label> 
			<input type="text" name="solde" th:value="*{solde}" /> 
			<span th:if="${#fields.hasErrors('solde')}" th:errorclass="error" th:errors="*{solde}" ></span><br/>
		
		<label class="simpleAlign"></label>
		<input	type="submit" value="ajouter compte" /> <br />
	</form>
	<hr/>
	<span class="highlight"  th:utext="${message}"></span><br />
	<hr/>
    
</div>
  
