<!DOCTYPE HTML>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
     layout:fragment="content">
    <h1>login Client banque</h1>
    
    <form th:action="@{/site/bank/clientLogin}" method="GET">
    <label class="simpleAlign">numClient:</label> 
		<input type="text" name="numClient" th:value="${#ctx.session.numClient}" /> <br />
	<label class="simpleAlign">temp password:</label> 
		<input type="password" name="tempPassword" th:value="${#ctx.session.tempPassword}" /> (ex: pwd) <br />
		
		<label class="simpleAlign"></label>
		<input	type="submit" value="login (client banque)" /> <br />
	</form>
	<hr/>
	<span class="highlight"  th:utext="${message}"></span><br />
	<hr/>
	<h3>Informations "Client"</h3>
     <label class="simpleAlign">numero:</label> <span class="highlight" th:utext="${client.numero}"></span><br />
    <label class="simpleAlign">prenom:</label> <span class="highlight" th:utext="${client.prenom}"></span><br />
    <label class="simpleAlign">nom:</label> <span class="highlight" th:utext="${client.nom}" ></span><br />
    <label class="simpleAlign">email:</label> <span class="highlight" th:utext="${client.email}" ></span><br />
    <label class="simpleAlign">adresse:</label> <span class="highlight" th:utext="${client.adresse}"></span><br />
	<hr/>
	<a th:href="@{/site/bank/comptesDuClient}"> comptesDuClient (apres login)</a> <br/>
	<a th:href="@{/site/bank/logout}"> logout</a> <br/>
    
</div>
  
